master-render--post/
master-render/
Music/
render/
renders/
voice/
recordings/
noalpha/
fonts/
render-transitions/
 
*.
*.blend1
*.exr
*.xcf
*.avi
*.ogv
*.mkv
*.flac
*.wav
*.ogg
20170327_0001.jpg
*.gif
feedback
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Thumbs.db.meta
